<html>

<head>
  <meta charset="UTF-8">
  <title>云开发CloudBase | 第三方服务</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="./res/logo.png">
  <link rel="stylesheet" href="./res/main.css">
  <script src="https://acc.cloudbase.vip/webbase/index.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/appserver.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/comserver.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/index.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="app" style="display: none;" v-loading.fullscreen.lock="fullscreenLoading">
    <!-- 登录框 -->
    <div v-show="!donelogin" class="login_model">
      <div class="top_logo">
        <img src="res/logo.png" />
        <div>CloudBase TSP</div>
      </div>
      <div class="des_title">第三方服务平台示例（企业名片）</div>
      <el-button type="primary" class="login_btn" :loading="login_load" @click="tologin">授权登录</el-button>
    </div>
    <!-- 主页 -->
    <div v-show="donelogin" class="main_model">
       <!-- 顶部栏 -->
      <div class="main_top">
        <h1>CloudBase TSP</h1>
        <el-button type="danger" class="outlogin_btn" @click="outlogin">退出登录</el-button>
      </div>
      <!-- 平台内容 -->
      <div class="main_content">
        <!-- 基础信息展示 -->
        <el-card class="content_left" :class="{ nodata_view: !mess_info.messok }" shadow="never">
          <div slot="header" class="clearfix">
            <span>基础信息</span>
            <el-button v-show="mess_info.messok" style="float: right; padding: 3px 0" type="text" @click="tochatview">切换客服面板</el-button>
          </div>
          <div class="mess_info">
            <div class="mess_info_name">企业名称</div>
            <el-input v-model="mess_info.name"></el-input>
            <div class="mess_info_name">企业介绍</div>
            <el-input type="textarea" v-model="mess_info.des" :autosize="{ minRows: 3, maxRows: 10}" ></el-input>
            <div class="mess_info_name">企业LOGO</div>
            <div class="uploader" v-show="mess_info.pimg!=''">
              <label for="logo_file"><img style="width: 100%;" :src="mess_info.pimg"/></label>
            </div>
            <div class="uploader" v-show="mess_info.pimg==''">
              <label class="el-icon-plus" for="logo_file"></label>
            </div>
            <input style="display: none;" type="file" name="logo_file" id="logo_file" onchange="getLogoFile(this)">
            <el-button type="primary" :loading="deploybtn_load"  @click="saveapp">{{mess_info.appok?'保存信息':'部署应用'}}</el-button>
            <el-button v-show="mess_info.pappcode!=null" slot="reference" style="width: auto;margin:10px auto 0;" type="text" @click="codeshow_flag = true">体验小程序</el-button>
            <el-dialog :visible.sync="codeshow_flag">
                <img style="width: 100%;" v-bind:src="mess_info.pappcode"/>
            </el-dialog>
          </div>
          <div class="auth_lists">
            <div class="auth_title">已授权集合</div>
            <div class="auth_item" v-for="(item, index) in func_list" :key="index">
              <div class="auth_item_title">{{item.name}}</div>
              <div class="auth_item_des">{{item.des}}</div>
            </div>
          </div>
        </el-card>
        <!-- 客服消息展示 -->
        <el-card v-show="chat_view&&mess_info.messok" class="content_center" shadow="never">
          <div slot="header" class="clearfix">
            <span>小程序客服消息</span>
            <el-button style="float: right; padding: 3px 0" type="text" @click="toinfoview">切换信息面板</el-button>
          </div>
          <!-- 消息列表 -->
          <el-menu class="list_menu">
            <el-menu-item v-for="(item, index) in chat_mess_list" :index="index" @click="showchat">
              <el-badge v-if="chat_mess_out[index]!=0" :value="chat_mess_out[index]" class="item">
                <i v-if="openid_userinfo[index]==null" class="el-icon-s-custom"></i>
                <img v-if="openid_userinfo[index]!=null" :src="openid_userinfo[index].avatarUrl" />
              </el-badge>
              <span v-if="chat_mess_out[index]==0">
                <i v-if="openid_userinfo[index]==null" class="el-icon-s-custom"></i>
                <img v-if="openid_userinfo[index]!=null" :src="openid_userinfo[index].avatarUrl" />
              </span>
              <span v-if="openid_userinfo[index]==null" slot="title">未知用户</span>
              <span v-if="openid_userinfo[index]!=null" slot="title">{{openid_userinfo[index].nickName}}</span>
            </el-menu-item>
          </el-menu>
          <!-- 消息详情 -->
          <transition name="el-fade-in-linear">
            <el-card v-show="chat_model&&chat_model_openid!=null" class="chat_view" shadow="never">
              <div slot="header" class="clearfix">
                <i class="el-icon-back" @click="hidechat"></i>
                <span>{{openid_userinfo[chat_model_openid]!=null?openid_userinfo[chat_model_openid].nickName:''}}</span>
              </div>
              <div id="chat_list" class="chat_list">
                <div v-for="(item, index) in chat_mess_list[chat_model_openid]" :key="item.time" class="chat_item" :class="item.owner!=true?'chat_left':'chat_right'">
                  <img :src="openid_userinfo[chat_model_openid]!=null?openid_userinfo[chat_model_openid].avatarUrl:'./res/logo.png'" />
                  <div v-if="item.type=='text'">{{item.content}}</div>
                  <img v-if="item.type=='image'" class="chat_image" :src="item.content" @click="showchatImage"/>
                </div>
              </div>
              <el-input v-model="chat_input_mess" @focus="onChat_input" @blur="unChat_input" class="chat_input" type="textarea" placeholder="请输入回复内容,shift+回车键发送" maxlength="120" show-word-limit></el-input>
            </el-card>
          </transition>
        </el-card>
      </div>
    </div>
    <!-- 执行步骤条 -->
    <div v-show="deploy_load" class="step_model">
      <el-card class="step-card">
        <el-steps direction="vertical" :active="deploy_step" finish-status="success">
          <el-step title="检测小程序状态" description="检查小程序部署状态，以及云开发绑定状态"></el-step>
          <el-step title="创建和绑定云开发环境" description="创建第三方云开发代理环境，无需运维"><i class="el-icon-loading"></i></el-step>
          <el-step title="部署云开发资源" description="创建数据库，上传logo，部署基础服务"></el-step>
          <el-step title="部署小程序代码" description="部署小程序代码，并提交预览"></el-step>
          <el-step v-show="func_list[19]!=null" title="接入客服系统" description="使用第三方服务接收小程序客服消息"></el-step>
        </el-steps>
      </el-card>
    </div>
    <!-- 图片展示 -->
    <div class="chatImage_preview" v-if="chatImage_showflag" @click="hidechatImage">
      <img v-bind:src="chatImage_showsrc"/>
    </div>
  </div>
</body>

</html>